<!DOCTYPE html>
<html len="en">
    <head>

        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

        <title>Mean racers 2</title>
        
        <script data-main="./" src="tools/require.js"></script>
        <script src="./phaser.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: './',
                paths: {
                    Phaser: './phaser.min.js'
                }
            });

            requirejs(['game']);

        </script>
    </head>

    <body>
        
        <script>
            require(['game'], function (game) {
                require(['app'], function (app) {

                    var game = app.Game.getInstance();

                    game.start();

                });
            });
        </script>

    </body>
</html>